*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/build/generated/
/captures
.externalNativeBuild
.cxx
/history_versions_apk/
/.idea/
/logfile.txt
/app/debug/
/app/release/
/app/release/output.json
build.gradle
keys.xml
/docs
*.plantuml
